.project {
  display: flex;
  justify-content: space-between;
}

.project a:hover {
  background-color: aquamarine;
}

.projectImage {
  width: 200px;
  height: 160px;
}

.projectImage:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .project {
    flex-direction: column;
  }
}
