:root {
  --color-brand--1: #535753;
  --color-brand--2: #b0b4b3;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  line-height: 1.2;
}
